:root{
    --whitesmoke:#eee
}

* {

    margin:0; padding:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    color: #fff;
    background: #333;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: var(--green);
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1); 
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
 }

header .navbar a:hover {
    color:green;
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover {
    color:green;
}

header #toggler {
    display: none;

}

header .fa-bar {

    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: 5rem 1.5rem;
    cursor: pointer;
    padding: 1.5rem solid rgba(0, 0, 0, .3);
    display: none;

}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(51, 136, 255, 0.105);
}

.para {
    text-align: center;
}

.heading span {
    color: cadetblue;
}

.home {

    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(./f82082f5c7854477a769b0690a9a28ec.jpeg);
    background-size: cover;
}

.home .content {

    max-width: 50rem;
}

.home .content h3{

    font-size: 6rem;
    color: #333;
}

.home .content {

    max-width: 50rem;
}

.about.row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.image {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    flex: 1 1 40rem;
    position: relative;
    align-self: center;
}

.preview {
    text-align: center;
    background: rgba(51, 255, 194, 0.199);
}

.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.contact .row form{
    flex: 1 1 40;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: .5rem;

}

.contact .row image{
    flex: 1 1 20;
}

.contact .row .imagee img {
    width: 100%;

}

.contact .row form .box {
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact .row form .box:focus {
    border-color: aquamarine;
}

.contact .row form textarea {
    height: 15rem;
    resize: none;

}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.footer .box-container .box {
    flex: 1 1 25rem;
}

.footer .box-container .h3 {
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container a {
    display: block;
    color: #666;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container a:hover{
    text-decoration: underline;
    color: aquamarine;
}

.footer .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span {
    color: aquamarine;
}

.book .row1 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fom {
    display: grid;
    gap: 10px;
}

.labl {
    font-weight: bold;
}

.inpt, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttn {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

aside {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 1em;
    background-color: #f4f4f4;
  }






























@media(max-width: 991px) {

    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

}



@media(max-width: 768px) {

    html .fa-bar {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100; right: 0; left: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0 );
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }
}




